:root {
  /* Fonts */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  /* Text colors */
  --cloud-txt: #f4f4fd;
  --iris-txt: #4d5ae5;
  --slate-txt: #434455;
  --light-slate-txt: #8e8f99;
  --navy-blue-txt: #2e2f42;
  --white-txt: #fff;
  --ocean-txt: #404bbf;
  /* BG colors */
  --navy-blue-bg: #2e2f42;
  --iris-bg: #4d5ae5;
  --ocean-bg: #404bbf;
  --cloud-bg: #f4f4fd;
  --black-cl-15: rgba(0, 0, 0, 0.15);
  /* Others */
  
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color:var(--navy-blue-txt);
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--white-txt);

  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean-bg);
  box-shadow: 0 4px 4px 0 var(--black-cl-15);
}

/* reset styles */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-txt);
}

.theme-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  text-transform: capitalize;
  text-align: center; 
}
.subject-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
  /* 
  |==============================
  | Header styles 
  |==============================
*/
.header-logo {
  color: var(--navy-blue-txt);
}
.header-link {
  font-weight: 500;
}
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--ocean-txt);
}
.header-contact {
  color: var(--slate-txt);
}
/* 
|==============================
| Hero styles 
|==============================
*/
.hero {
  background-color: var(--navy-blue-bg);
}
.hero-title {
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  color: var(--white-txt);
}
.hero-button {
  background-color: var(--iris-bg);
  box-shadow: 0 4px 4px 0 var(--black-cl-15);
}

/* 
|==============================
| Feature styles 
|==============================
*/
.feature-text {
  color: var(--slate-txt);
}
/* 
|==============================
| Doing styles 
|==============================
*/

/* 
|==============================
| Team styles 
|==============================
*/
.team-title-secondary {
  text-align: center;
}
.team-text {
  text-align: center;
  color: var(--slate-txt);
}
/* 
|==============================
| Footer styles 
|==============================
*/

.footer {
  background-color: var(--navy-blue-bg);
}

.footer-logo {
  color: var(--cloud-txt);
}

.footer-text {
  color: var(--cloud-txt);
}
/* 
|==============================
| Button styles / Portfolio
|==============================
*/
.button {
  text-align: center;
  color: var(--iris-txt); 

  background-color: var(--cloud-bg);
}
.button:hover,
.button:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: var(--white-txt);
}

/* 
}
|==============================
| Gallery styles / Portfolio
|==============================
*/
.gallery-text {
  color: var(--slate-txt);
}